torch
xformers
urllib3
torchvision
torchinfo
numpy
tqdm
pillow
opencv-python
OpenEXR
triton
omegaconf
hydra-core
xformers
transformers
bitsandbytes
timm
comet_ml
h5py
json5
accelerate
matplotlib
lightning
open3d
huggingface_hub
kornia
diffusers==0.32.2
